*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);;
    background-color: rgb(16, 16, 20);

    width: 100%;
}

.button{
    cursor: pointer;
    width: max-content;
    padding: .5rem;

    border: none;
    border-radius: .3rem;

    background-color: #f7ff19;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 1rem;

}

.mobile-only{
    display: none;
}

.desktop-only{
    display: block;
}

@media (width < 1200px){
    .desktop-only{
        display: none;
    }

    .mobile-only{
        display: block;
    }
}